/* styling the body */

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 85px;
  padding: 0 5rem;
  position: absolute;
  width: 1000px;
}

nav a {
  align-items: center;
  background-image: linear-gradient(rgb(78, 78, 78), gray);
  border-color: rgb(155, 151, 151);
  border-top: gray;
  border-width: 0.1rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 35px;
  padding: 8px 30px;
  text-decoration: none;
}

nav a:hover {
  background-image: linear-gradient(rgb(51, 51, 51), rgb(97, 95, 95));
}

.apple-icon {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  justify-content: center;
  width: 100px;
}

.right {
  align-items: center;
  background-image: linear-gradient(rgb(78, 78, 78), gray);
  border-radius: 0 5px 5px 0;
  color: white;
  display: flex;
  height: 35px;
  margin-right: 0;
  width: 100px;
}

.right i {
  background-image: linear-gradient(rgb(78, 78, 78), gray);
  border-radius: 20px 0 0 20px;
  color: white;
  font-size: 10px;
  padding: 5px;
  margin-left: 2px;
}

.right input {
  background-image: linear-gradient(rgb(78, 78, 78), gray);
  border-style: none;
  border-radius: 0 20px 20px 0;
  height: 20px;
  padding: 0;
  width: 50px;
}

main {
  margin: auto;
  min-width: 800px;
  width: 1200px;
}

.main-image {
  background: url(https://web.archive.org/web/20140228114747im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg) 50% 100% no-repeat;
  color: white;
  height: 540px;
  text-align: center;
  width: 1200px;
}

.main-image a {
  color: white;
}

h1 {
  font-size: 3em;
  font-weight: 100;
  padding: 200px 0 0 0;
}

.sub-heading {
  font-family: 'Spartan', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: 0.1rem;
}

.underline:hover {
  text-decoration: underline white;
}

aside {
  display: flex;
  width: 100%;
}

aside img {
  height: 200px;
  padding: 0 1px;
  width: 320px;
}

.aside-links :hover {
  background-color: none;
}

section {
  display: grid;
  gap: 3px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  padding-top: 3px;
}

section h6 {
  display: none;
}

.items {
  background-color: #333;
  height: 200px;
}

.item-1 {
  background-image: url('https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5s.jpg');
  background-size: cover;
}

.item-2 {
  background-image: url('https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_iphone5c.jpg');
  background-size: cover;
}

.item-3 {
  background-image: url('https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_30_years.jpg');
  background-size: cover;
}

.item-4 {
  background-image: url('https://web.archive.org/web/20140301004610im_/http://images.apple.com/home/images/promo_supplier_responsibility.jpg');
  background-size: cover;
}

footer {
  color: #6e6e6e;
  font-size: x-small;
  line-height: 1;
}

footer ul {
  display: flex;
}

footer li {
  border-right: 0.5px solid rgb(204, 196, 196);
  padding: 0 5px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  margin: 10px auto 0;
  width: 80%;
}

.copyright {
  display: inline-block;
  margin: 10px 0 30px 10%;
}

.country-icon {
  height: 10px;
  padding-left: 5px;
  width: 10px;
}
